body {
	font-family: sans-serif;
	margin: 0;
}

form {
	margin: 3rem auto;
	width: 90%;
	max-width: 30rem;
	padding: 1rem;
	border-radius: 12px;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

button {
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	border-radius: 6px;
	background-color: rgb(133, 125, 160);
	color: white;
	border: 1px solid rgb(133, 125, 160);
}

button:hover {
	background-color: rgb(59, 39, 25);
	border-color: seashell;
}

.form-control {
	margin-bottom: 1rem;
}

.form-control {
	font: inherit;
	padding: 0.25rem;
	border-radius: 4px;
	border: 1px solid #ccc;
	display: block;
	width: 10rem;
}

.form-control input:focus {
	border-color: rgb(235, 233, 241);
	outline: none;
	background-color: rgb(172, 170, 177);
}

.form-control label {
	font-weight: bold;
	display: block;
	margin-bottom: 0.5rem;
}

.errorlist {
	list-style: none;
	margin: 0;
	padding: 0;
	color: rgb(182, 154, 154);
}

.errors input {
	border-color: rgb(182, 154, 154);
	background-color: seagreen;
}

.errors label {
	color: rgb(182, 154, 154);
}
